<launch>
  <arg name="host" default="192.168.1.7" />

  <node pkg="omron_os32c_driver" type="omron_os32c_node" name="omron_os32c_node">
    <param name="host" value="$(arg host)" />
    <param name="frame_id" value="laser" />
    <param name="start_angle" value="2.2899" />
    <param name="end_angle" value="-2.2899" />
  </node>

  <node pkg="orientus_driver" type="orientus_node" name="orientus_node">
  </node>
  
  <node pkg="axis_camera" type="axis.py" name="axis" />

  <node name="IMU_tf2_broadcaster" pkg="omron_os32c_driver" type="IMU_tf2_broadcaster.py"></node>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_broadcaster" args="1 0 0 0 0 0 1 world base_link" />
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 1 0 0 imu laser" />


</launch>
